body{
    color: red;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: #33A;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 05em;
}
#container{
    width : 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid black ;
    margin: 0 auto;
}